/* основной контейнер */
.parent-box {
    margin: auto;
    display: flex;
    gap: 40px;
    color: #ffffff;
    margin-bottom: 50px;
}

.movie-cn {
    position: relative;
    z-index: 20;
    /* background-image: url("https://image.tmdb.org/t/p/original/h8gHn0OzBoaefsYseUByqsmEDMY.jpg"); */
    /* background-position: center; */
}


.bg-box {
    width: 100%; 
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: 0;
    left: 0;
    top: 0; 
}

.bg-gradient {
    width: 100%;
    height: 100%;

    position: absolute;
    background-image: linear-gradient(to bottom, rgba(30, 37, 56, 0.45) 0, #1e2538 75%);
    z-index: 1;
    left: 0;
    top: 0;
}

.movie-left-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

/* правая часть */
.cn-movie-right {
    flex: 1;
}

/* навигация */
.navigation {
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
}

.navigation span {
    color: #fff;
}

/* заголовок */
.movie-title {
    font-size: 42px;
    margin-bottom: 5px;
}

.movie-small-title {
    color: #ffffff;
    margin-bottom: 20px;
}

/* кнопки рейтинга */
.diagrams {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.diagram-btns {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.diagram-btns:hover {
    /* background: #2d3f64; */
    
}

/* описание */
.description {
    max-width: 600px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 25px;
}

span {
    color: #ffffff;

}

/* кнопка трейлера */
.trailer-btn {
    width: 250px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    background: none;
    font-family: Qanelas, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.trailer-btn:hover {
    background: #2b3f6e;
}

/* таблица данных */
.small-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 40px;
    color: #cdd7ec;
}

.small-data p {
    font-size: 14px;
    color: #ffd84c;
}



.cn-movie-left {
    width: 400px;
    margin-right: 20px;
}

.overhide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.close-search-window {
    width: 30px;
    position: absolute;
    left: 320px;
    top: -45px;
}

.search-box {
    display: flex;
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.search-container {
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    top: 0;
}

.search-container input {
    flex: 1;
    border: none;
    padding: 20px 40px;
    width: 600px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    color: black;
    font-weight: 700;
}

.search-btn {
    width: 50px;
    height: 48px;
    border: none;
    background: #ffec00;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: background 0.2s;
    border-radius: 10px;
    position: absolute;
    top: -55px;
    left: 240px;
}

.search-container button:hover {
    background: #ffe400;
}

.serch-logo-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    color: #4c6fff;

    img {
        width: 30px;
        margin-right: 3px;
    }
}

.serch-logo-title span {
    color: #ffffff;
    font-size: 25px;
}

.search {
    position: absolute;
    right: 100px;
}

.card {
    width: 260px;
    /* background: #0f1b2d; */
    color: white;
    border-radius: 12px;
    padding: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0 5px;
}

.card p {
    color: #9aa3b2;
}

.acthors-render {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;

    max-width: 1430px;
    margin: 0 auto;
    z-index: 1000;
    position: relative;
}

.acthors-box {
    max-width: 1430px;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 1000;
}

.act-title {
    color: #fff;
    font-size: 48px
}

.new-trailers {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1000;

    .new-tariler-up-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h1 {
            color: white;
            font-size: 50px;
            font-weight: 800;
        }


    }
}

.new-trailer-p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.new-trailer-video {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.title {
    color: #fff;
    font-size: 48px;
}

.photos-render {
    max-width: 1430px;
    display: grid;
    grid-template-columns: repeat(2, 700px);
    gap: 24px;
    margin-bottom: 50px;
}
.photo-elem{
    position: relative;

}
.photo-elem img {
    width: 100%;
    height: 100%;
}

.poster-container {
    margin-top: 100px;
}

.posters-box {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(40, 70, 160, 0.8);
    /* цвет как на скрине */

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 32px;
    font-weight: bold;

    /* display: flex;
    align-items: center;
    justify-content: center; */

}
.newsletter {
    max-width: 1430px;
    margin: 80px auto;
    border-radius: 20px;
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba") center/cover no-repeat;
    background-color: #0f172a;
}

.newsletter__overlay {
    background: linear-gradient(135deg, #2e4adee6, #1e2a78f2);
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.newsletter__box {
    max-width: 750px;
    margin: 0 auto;
}

.newsletter__logo {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.newsletter__logo span {
    color: #4f7cff;
}

.newsletter h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.newsletter p {
    color: #d1d5db;
    margin-bottom: 40px;
    line-height: 1.6;
}

.newsletter__form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.newsletter__form input {
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.newsletter__form button {
    padding: 16px 35px;
    border-radius: 10px;
    border: none;
    background: #f2f200;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter__form button:hover {
    opacity: 0.85;
}

.newsletter__agree {
    font-size: 14px;
    color: #cbd5e1;
}

.newsletter__agree input {
    margin-right: 8px;
}

.newsletter__agree a {
    color: #f2f200;
    text-decoration: none;
}
